/******GENERAL******/
:root {
    --main-color: #9356DC; /* var(--main-color) */
    --second-color: #FF79DA; /* var(--second-color)*/
    --third-color: #99E2D0; /* var(--third-color)*/
    --fourth-color: #f5f5f5; /*var(--fourth-color)*/
}

* {
    font-family: Roboto, sans-serif;
}

.main-container {
    width: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

footer {
    background: #353535;
    padding: 20px;
}

footer h3,
footer p,
footer i {
    margin: 0px;
    color: white;
}

footer p {
    padding-bottom: 5px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

/******HEADER******/
.header__div {
    padding: 30px 60px;
    max-height: 40px;
}

.header__logo {
    max-width: 100%;
}

/******MAIN******/

/***Réservez Menu (Location)***/
.book__location-div {
    max-height: 40px;
    padding: 10px 65px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ebebeb;
    box-shadow: inset 0px 4px #d6d6d6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/***Réservez Menu (Texte + Bouton Explorer)***/
.book__search-div {
    background-color: var(--fourth-color) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.book__search-title {
    margin: 0px;
    padding: 30px 40px 10px 40px;
}

.book__search-text {
    font-size: 18px;
    margin: 0px;
    padding: 10px;
}

.book__search-button-a {
    margin: 20px 50px 50px 50px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 0px;
	border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(255, 255, 255, 0) inset;
    transition: box-shadow 0.5s;
    background: linear-gradient(178deg, var(--second-color), var(--main-color));
    cursor: pointer;
}

.book__search-button-a:hover {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25), 0px 0px 100px rgba(255, 255, 255, 0.3) inset;
}

.book__search-button-text {
    padding: 0px 20px 0px 20px;
    color: white;
}

/***Fonctionnement (instruction)***/
.function__section {
    margin-bottom: 75px;
}

.function__title {
    margin: 50px 0px 35px 20px;
}

.function__instruction-div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.function__instruction-number {
    position: absolute;
    margin: 25px 0px 0px 16px;
    font-size: 10px;
    box-sizing: border-box;
    color: white;
    background-color: var(--main-color);
    border: 0px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 24px;
    min-width: 24px;
}

.function__instruction-icon {
    padding: 30px 0px 30px 20px;
    font-size: 18px;
}

.fa-store {
    color: var(--main-color);
}

.fa-list-ul,
.fa-mobile-screen-button {
    color: grey;
}

.function__instruction-text {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    border-style: solid;
    font-weight: bold;
    border-width: 0px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    width: 80%;
    height: 70px;
    margin-right: 18px;
}

.function__instruction-text p {
    font-size: 14px;
    padding-right: 30px;
    margin-top: 20px;
}

#function__instruction-text-mobile {
    padding-right: 15px;
}

/***Restaurants (Cartes vers menu)***/
.restaurant__section {
    background-color: var(--fourth-color);
    padding-bottom: 50px;
}

.restaurant__title {
    padding: 30px 0px 10px 20px;
}

.restaurant__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.restaurant__cards a {
    margin-bottom: 20px;
    width: 100%;
}

.restaurant__cards-new {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background: #99E2D0;
    color: #008766;
    width: 20%;
    height: 25px;
    margin: 20px 0px 0px 215px;
}

.restaurant__cards-new p {
    font-size: 12px;
    font-weight: bold;
}

.restaurant__cards img {
    width: 100%;
    height: 160px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.restaurant__cards .card-content {
    width: 100%;
    height: 80px;
    margin-left: 15px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.restaurant__cards .card-title {
    margin-bottom: 5px;    
}

.restaurant__cards .card-subtitle {
    margin-top: 0px;
}

.restaurant__heart-div-1 {
    position: absolute;
    margin: 190px 0px 0px 220px;
}

.restaurant__heart-div-2 {
    position: absolute;
    margin: 455px 0px 0px 220px;
}

.restaurant__heart-div-3 {
    position: absolute;
   margin: 720px 0px 0px 220px;
}

.restaurant__heart-div-4 {
    position: absolute;
    margin: 985px 0px 0px 220px;
}

.restaurant__heart {
    position: relative;
    background: linear-gradient(to bottom, transparent 90%, black 10%), linear-gradient(to left, transparent 90%, black 10%);
    height: 16px;
    width: 16px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.restaurant__heart::after, 
.restaurant__heart::before {
    position: absolute;
    border-radius: 50%;
    content: '';
    height: 16px;
    width: 16px;
}

.restaurant__heart::after {
    left: 9px;
    top: 0px;
    background: linear-gradient(to left, transparent 75%, white 5%), radial-gradient(transparent 55%, black 1%);
}

.restaurant__heart::before {
    top: -9px;
    left: 0px;
    background: linear-gradient(to bottom, transparent 75%, white 5%), radial-gradient(transparent 55%, black 1%);
}

.restaurant__heart:focus {
    background: linear-gradient(230deg, var(--main-color) -12%, var(--second-color) 120%);
}

.restaurant__heart:focus-within::after, 
.restaurant__heart:focus-within::before {
    background: linear-gradient(230deg, var(--main-color) -20%, var(--second-color) 190%);
}

/******FOOTER******/
.footer__title {
    padding-bottom: 20px;
}

.footer__title h3 {
    font-family: shrikhand, sans-serif;
}

.footer__div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__icon-div {
    display: flex;
    justify-content: space-between;
}

.fa-utensils,
.fa-handshake-angle {
    font-size: 13px;
}

.footer__icon-div .fa-utensils {
    padding-right: 15px;
}

.footer__icon-div .fa-handshake-angle {
    padding-right: 10px;
}